{% extends 'jobs/base.html' %}
{% load static %}
{% block proof_style %} 
    <!-- Specific Page CSS goes HERE  -->
   <link href="{% static 'assets/css/proof.css' %}" rel="stylesheet" type="text/css"> 
{% endblock %}

{% block deposit %}
<div class="depositContainer">
<div class="depositInner">
 <div class="depositLeft fadeInLeft wow">
   <h3>Recent Deposits <img src="../"></h3>
   <div class="ctn-diposit-part1">
     <table>
       <tbody>
           
           
         <tr>
           <td><font color="white">Mario</font></td>
           <td><span><font color="white">$940</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         
            <tr>
           <td><font color="white">Case</font></td>
           <td><span><font color="white">$895</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         
            <tr>
           <td><font color="white">Fletcher</font></td>
           <td><span><font color="white">$830</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
            <tr>
           <td><font color="white">Mcgee</font></td>
           <td><span><font color="white">$785</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
            <tr>
           <td><font color="white">Wolf</font></td>
           <td><span><font color="white">$220</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         
         
         
         
         </tbody>
       </table>
     </div>
   </div>
   <div class="depositRight fadeInRight wow">
     <h3>Recent withdrawals <img src="{% static 'assets/images/ctn-ic6.png' %}"></h3>
     <div class="ctn-diposit-part1">
       <table>
         <tbody>
          
              <tr>
           <td><font color="white">Haroon</font></td>
           <td><span><font color="white">$1140</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         <tr>
           <td><font color="white">Christian</font></td>
           <td><span><font color="white">$1340</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         <tr>
           <td><font color="white">Daegan</font></td>
           <td><span><font color="white">$2010</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         <tr>
           <td><font color="white">Puneetpaul</font></td>
           <td><span><font color="white">$1460</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         <tr>
           <td><font color="white">Guang</font></td>
           <td><span><font color="white">$2485</font></span>
           </td>
           <td>
             <img src="{% static 'assets/images/1000.gif' %}">
           </td>
         </tr>
         
         
         
         </tbody>
       </table>
     </div>
   </div>
 </div>
</div>
{% endblock %}