{% load static %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000">
    <title>Login | The New generation Crypto investment Platform</title>
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/grids.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fw.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontsb86a.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/stylesb86a.css' %}">
    

<script language="javascript">
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your username!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>

    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/cubeb86a.js' %}"></script>

    <meta name="google-site-verification" content="-Pufy5fHS0TtKeBSdCxbivH4iUWpPZkfTfuB0I5hO24">
</head>
<body class="has-image">
<!--passing crypto values-->

<script src="{% static 'assets/js/coingecko-coin-price-marquee-widget.js' %}"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin,doge" currency="usd" background-color="#ffffff" locale="en" vce-ready=""></coingecko-coin-price-marquee-widget> 

<!--passing crypto values ends-->


        <div class="auth-box__content">
        <div class="auth-box__container">
            <div class="auth-box__title">
                Account Login
            </div>
            
            {% if msg %}
            {{ msg | safe }}
          
          {% endif %}  
            
                        <div class="auth-box__form">
                <form method="post" action="" name="mainform" >
              {% csrf_token %} 
                	<input type="hidden" name="a" value="do_login">
                    <input type="hidden" name="follow" value="">
                    <input type="hidden" name="follow_id" value="">
                    <div class="form__input-container">
                        <label for="username">
                            <i class="fa fa-user"></i>
                            Username:</label>
                        <!-- <input placeholder="Enter your username" type="text" name="username" value="" class="form__input form__input-full-width"> -->
                    {{ form.username|add_class:'form-control' }}

                    </div>
                    <div class="form__input-container">
                        <label for="password">
                            <i class="fa fa-key"></i>
                            Password:</label>
                        <!-- <input placeholder="Enter your password" type="password" name="password" class="form__input form__input-full-width"> -->
                    {{ form.password|add_class:'form-control' }}

                    </div>
                    <div class="form__input-container to-left">
                        <label for="check">
                            <input type="checkbox" name="remember" id="check">
                            keep me logged in
                        </label>
                    </div>
                    <div class="form__input-container">
                        <button type="submit" class="button button-full-width button-success">
                            Login
                        </button>
                    </div>
                    <div class="is-centered padded">
                        <a href="{% url 'signup' %}">Don't have an account yet? Sign up</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body></html>
